<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LivePerformanceLauravanHelden.Properties.Settings.LivePerformanceConnectionString"
            connectionString="Data Source=DESKTOP-E33041D\SQLEXPRESS;Initial Catalog=LivePerformance;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>